.product {
  display: flex;
  border-bottom: 1px solid lightgray;
  margin-right: 5px;
  padding-bottom: 5px;
}

.product img {
  padding-right: 32px;
}

.product-name {
  color: blue;
  font-weight: 400;
}

.btn-regular {
  background-color: crimson;
  color: white;
  margin: 15px 0;
  border-radius: 5px;
  height: 30px;
  width: 150px;
  cursor: pointer;
  border: none;
  text-transform: capitalize;
}
