.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 50px;
}
.header .navlink {
  display: inline-block;
  line-height: 40px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  padding: 10px;
  transition: 0.2s ease;
}
.header .navlink:hover {
  background: #ddd;
}
